/* VARIABLES */

:root {
  --clr-green: 75, 94%, 57%;

  --clr-white: 0, 0%, 100%;
  --clr-grey: 0, 0%, 20%;
  --clr-dark-grey: 0, 0%, 12%;
  --clr-off-black: 0, 0%, 8%;
}

/* RESET */

::selection {
  background-color: hsl(var(--clr-green));
  color: hsl(var(--clr-off-black));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

/* GENERAL */

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  background-color: hsl(var(--clr-off-black));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: hsl(var(--clr-white));
  line-height: 1.5;
  padding: 2.4rem;
}

/* UTILITY */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CARD */

.card {
  background-color: hsl(var(--clr-dark-grey));
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  border-radius: 1.2rem;
  text-align: center;
}

.card__image {
  border-radius: 50%;
  margin: 0 auto;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card__title {
  color: hsl(var(--clr-white));
  font-size: 2.4rem;
}

.card__location {
  color: hsl(var(--clr-green));
  font-weight: 700;
}

.card__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.card__link {
  display: block;
  padding: 1.2rem 0;
  text-decoration: none;
  color: hsl(var(--clr-white));
  font-weight: 700;
  background-color: hsl(var(--clr-grey));
  border-radius: 0.8rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card__link:hover {
  color: hsl(var(--clr-grey));
  background-color: hsl(var(--clr-green));
}

/* ATTRIBUTION */

.attribution {
  font-size: 11px;
  text-align: center;

  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: hsl(var(--clr-dark-grey));
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.attribution__link {
  color: hsl(var(--clr-green));
  text-decoration: none;
}

.attribution__link:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 425px) {
  .attribution {
    display: none;
  }
}
